@model Emprestimo_Livros.Models.Cliente
@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do cliente</h1>

<div>
    <h4>Confira os detalhes abaixo</h4>
    <hr />
    <div>
        <a asp-controller="Cliente" asp-action="Editar" class="btn btn-warning" asp-route-id="@Model.Id">Alterar</a>
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </div>
    <br />
    <div class="card">
        <div class="card-header">Informações pessoais</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Nome)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Nome)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Cpf)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cpf)" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">Endereço</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Endereco)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Endereco)" />
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Cidade)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Cidade)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Bairro)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Bairro)" />
                </div>
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Numero)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Numero)" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">Contato</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.Celular)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Celular)" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group col-md">
                    <label>@Html.DisplayNameFor(model => model.TelFixo)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.TelFixo)" />
                </div>
            </div>
        </div>
    </div>

</div>